mixin modals

    .modal-overlay(style='z-index: 4001;')
    #profile-hover-container(data-screen-name='GeneVatow', data-user-id='298391670')
    .modal-container.dm-media-container
        .modal.draggable.dm-media
            .modal-header
                button.modal-btn.modal-close.js-close(type='button')
                    span.Icon.Icon--close.Icon--medium
                        span.visuallyhidden Close
                h2.modal-title Photo
            .dm-media-preview
