mixin module_search

    .SidebarFilterModule.with-3-filters
        .SidebarFilterModule-header
            h3.AdaptiveSearchPage-moduleTitle.SidebarFilterModule-title Prompt Settings
        .SidebarFilterModule-filters
            p Use this space to setup current prompt
            br