<div>
    <form>
        <textarea id="tweetText" class="form-control fritease-control rounded-0" rows="9"></textarea>
        <div id="progressCircle" class="c100 small">
            <span class="circle-percent"></span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <hr />
        <input class="form-control fritease-control" placeholder="Theme 1" id="THEME_1" />
        <input class="form-control fritease-control" placeholder="Theme 2" id="THEME_2" />
        <hr />
        <input class="form-control fritease-control" placeholder="FF 1" id="FF1" />
        <input class="form-control fritease-control" placeholder="FF 2" id="FF2" />
        <input class="form-control fritease-control" placeholder="FF 3" id="FF3" />
        <input class="form-control fritease-control" placeholder="FF 4" id="FF4" />
        <input class="form-control fritease-control" placeholder="FF 5" id="FF5" />
        <hr />
        <img src="{{url}}" id="fritease-banner" class="fritease-banner" />
        <button class="btn btn-primary">TWEET</button>
    </form>
</div>