<div class="module wtf-module js-wtf-module roaming-module has-content">

    <div id="ff5-users-tab" class="tab-pane">
        <div id="dashboard-ff5"></div>
    </div>
    <hr />
    <div id="ranked-users-tab" class="tab-pane">
        <div id="dashboard-ranked"></div>
    </div>

</div>