<div class="is-autoCentered">
    <div id="stream-loading" style="border: 1px solid #38444d; padding:6px;">
        {{> loader}}
    </div>
    <div id="stream-content" class="stream-container u-hiddenVisually" data-max-position="1562806066985" data-min-position="1562301765000"></div>
</div>