<div class="module wtf-module js-wtf-module roaming-module has-content">
    <div class="flex-module">
        <div class="flex-module-header">
            <h3>{{{title}}}</h3>
        </div>
        {{#if userlist}}
        <div id="dashboard-userlist" class="js-recommended-followers dashboard-user-recommendations flex-module-inner" data-section-id="wtf">
        </div>
        {{/if}}
        {{#if simplelist}}
        <div id="dashboard-simplelist" class="flex-module-inner">
        </div>
        {{/if}}
    </div>
    <div class="flex-module import-prompt">
        <div class="flex-module-footer u-table">
            <a class="u-tableCell u-alignMiddle remove-discover-pymk" href="/#">{{{footer}}}</a>
        </div>
    </div>

</div>
