<div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMediais-video">
        <div class="AdaptiveMedia-container">
            <div class="AdaptiveMedia-video">
                <div class="AdaptiveMedia-videoContainer">
                    <div class="PlayableMedia PlayableMedia--gif watched playable-media-loaded">
                        <div class="PlayableMedia-container">
                            <div class="PlayableMedia-player" data-playable-media-url="" data-use-react-player=""
                                data-use-b-version-of-react-player="" data-use-player-precache=""
                                data-border-top-left-radius="" data-border-top-right-radius=""
                                data-border-bottom-left-radius="" data-border-bottom-right-radius=""
                                style="padding-bottom: 66.66666666666666%; background-image:url('{{media}}')">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>